body{
    display: block;
    
}
#div1{
    display: block;
    text-align: center;
   
}
#center{
    display: block;
    text-align: center;
}
input{
    border-radius: 10px;
    border-color: rgb(238, 227, 227);
    width: 300px;
    height: 30px;
}
#btn1{
    background-color: rgb(204, 241, 241);
    text-decoration-color:rgb(165, 14, 14);
    margin-right:15px;
    border-radius: 10px;
}
#btn2{
    border-radius: 15px;
    background-color: rgb(177, 228, 211);
}
#img1{
    width: 700px;
    height: 400px;
}